<template name="inputs">
	<paper-fab icon="add"></paper-fab>
    <paper-dialog>
		<h2>Agregar entrada</h2>
		<paper-input id="amount" label="Cantidad" allowed-pattern="[-0-9]" prevent-invalid-input></paper-input>
		<paper-input id="description" label="Descripción" allowed-pattern="[0-9 a-zA-Z,.-/]" prevent-invalid-input></paper-input>
		<div class="buttons">
			<paper-button dialog-dismiss>Cancel</paper-button>
			<paper-button dialog-confirm>Accept</paper-button>
		</div>
	</paper-dialog>
	{{#each inputs}}
		{{> input}}
	{{/each}}
</template>

<template name="input">
	<paper-item
		role="listitem"
		class="x-cope paper-item-0">
		<paper-item-body two-line>
			<div>{{amount}}</div>
			<div secondary="">{{description}}</div>
		</paper-item-body>
	</paper-item>
</template>
	